<div class="row align-items-center">
  <div class="col-4">
    <label>Payment</label>
  </div>
  <div class="col-8">
    <ng-select [items]="payments"
               bindLabel="name"
               placeholder="Select payment"
               bindValue="name">
      <ng-template ng-label-tmp let-item="item">
        <img height="25" width="35" [src]="item.img_url"/>
        <b style="padding-left: 10px">{{item.name}}</b>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-index="index">
        <img height="25" width="35" [src]="item.img_url"/>
        <b style="padding-left: 10px">{{item.name}}</b>
      </ng-template>
    </ng-select>
  </div>
</div>
